<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.CreateAccountTest"/>
      <class name="testcases.SigninTest"/>
      <class name="testcases.AddItemsTest"/>
      <class name="testcases.SearchbyItemTest"/>
      <class name="testcases.MenuNavigationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
